* {
    margin: 0 auto;
}

header {
    border: 2px solid;
}

li {
    background-color: blueviolet;
}

.third_3 {
    background-color: brown;
}

#num007 {
    color: palevioletred;
    text-align: center;
}

.the-block {
    width: 700px;
}

ul li {
    font-size: 50px;
}

.box {
    border: 3px solid blue;
    text-align: center;
}

ol > li {
    font-style: italic;
    color: orangered;
}

div + p {
    background-color: green;
    text-transform: uppercase;
    color: whitesmoke;
}
/* ----------Try styles below! Look the difference-------- */
/* ol > p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
} */
/* ----------Try styles below! Look the difference-------- */
/* ol p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
} */

img[src="https://www.researchgate.net/publication/344603358/figure/fig1/AS:945655560286208@1602473263829/Example-of-Cat-Meme_Q640.jpg"] {
    width: 100px;
    margin-left: 150px;
}

.box p:hover {
    background-color: coral;
    color: chartreuse;
}

.check, span, .box {
    text-transform: uppercase;
    color:burlywood;
    background-color: aqua;
}

.important {
    color: brown!important;
}

.important {
    color: blue;
}
